* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.display-flex {
  display: flex;

}

.navbar {
  
  justify-content: space-around;
  /* max-width:1200px ; */
  margin: 0 auto;
  padding: 25px 0;
  background-color: #1A0B2E;
  align-items: center;
}

.brand span {
  color: white;
}

.gradient-text {
  background: linear-gradient(to bottom, #F7E93F, #FB09B4, #9100F8);
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  list-style: none;
  gap:32px ;
  color:#FFFFFF ;
  font-weight:medium;
}

.btn {
  color: #FFFFFF;
  background: linear-gradient(to top right, #F7E93F, #FB09B4, #9100F8);
  border-radius:10000px;
  /* width: 135px;
  height: 45px; */
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  padding: 20px;
  
}

 .btn:hover, .btn-secondary:hover {
  transition: 1s;
  color:rgb(231, 231, 231);
  padding-right: 25px;
}

.banner-container{
  position: relative;
  background-color: #1A0B2E;
}

.banner-container .hero-bg {
  width:100% ;
  height: 100%;
  position: relative;
  
}

.banner-container .circle{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.banner-container .circle .mic{
  position: absolute;
  top: 25%;
  left: 35%;
  transform: translate(-5%, -5%);
  
} 

.new-badge {
  position: absolute;
  top: 3%;
  right: 8%;
  background-color: #00FF88;
  color:#1A0B2E;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px ;
  border-radius: 20px;
}

.banner-info {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  width: 100%;
  max-width: 600px;
  margin-bottom: 0px;
}



.banner-container .banner-info h1{
  font-size: 4rem;
  font-weight: 800;

}
.banner-container .banner-info p {
  color: #FFFFFF;
  margin-bottom: 1rem;
}

.btn-secondary {
  color: #00FF88;
  
  border-radius:10000px;
  margin-left: 10px;
  border:1px solid #00FF88;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s;
  padding: 20px;
  background: transparent;
  
}


.about-container {
  background-color: #1A0B2E;
  height: 100%;
  width: 100%;
  color: white;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 80px;
}


.about-container .about-text {
  text-align: center;
  width: 1200px;
  height: 220px;
  margin: 100px auto;
  margin-bottom: 30px;

}

.about-container .about-text h2 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: bold;
}

.about-container .about-text p {
  font-size:1rem ;
  line-height: 30px;
}


.about-rating {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 1200px;
  height: 220px;
  margin: 0 auto;
}

.about-rating .card {
  height: 94px;
  width: 240px;
  gap: 80px;
}
 

.about-rating .card span {
  color: #00FF88;
  font-size: 3rem;
  font-weight: 700;
}

.about-rating .card p{
   text-transform: uppercase;
   margin-top:1rem ;
}

.choose-container,
.host,
.episode {
  /* background-color:#230E3D ; */
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  display: grid;
  text-align: left;
}

.choose-container{
  background-color:#230E3D
}

.grid-container {
  margin: 0 auto;
  width: 1200px;
  /* height:800px ; */
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px;
}

.choose-container h2,
.host h2,
.episode h2 {
  color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 3rem;
}

.choose-container .card {
  background: #351165;
  padding: 20px 20px;
  /* width: 380px;
  height: 273px; */
  width: 100%;
  height: 100%;
  gap: 30px;
  /* margin-bottom: 20px; */
  border-radius: 20px ;
  align-items: center;
  padding-bottom: 120px;

}

.choose-container .card h3 {
  color: white;
  margin: 10px 0;
}

.choose-container .card p{
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: 400;
}

 .medium-layout {
  grid-row: span 2;
  grid-column: span 1;
  

}

.big-layout {
  grid-column: span 2;
}

.small-layout {
  grid-column: span 1;
}



/* Feature section  */

/*episode-section*/

.feature-container {
  height: 100%;
  width: 100%;
  background-color: #1A0B2E;
  margin: 0 auto;
}

.episode {
  color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;
  
}


.episode-box {
  gap: 30px;
}

.episode-card {
  width: 380px;
  height: 400px;
  background-color: #250D44;
  border-radius: 20px;
  padding: ;
}


.episode-card iframe {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.episode-card h4 {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}
.episode-card p{
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
  color: rgba(255, 255, 255, 1);
}

.episode-card span,
.episode-card img {
  margin-left: 10px;
  color: #00FF88;
}


/* host section  */

.host {
  color: #FFFFFF;
  margin: 0 auto;
  width: 1200px;

}

.host-box {
  gap: 30px;
  align-items: center;
}

.host-box  {
  margin-bottom: 20px;
  background-color: #250D44;
  padding:40px ;
  border-radius: 20px;
}

.host-box * {
  padding-bottom: 10px;
}

.host-box .social  {
  gap: 20px;
  /* border: 1px solid gray; */
  border-radius: 50px;
  list-style: none;
}




